# R-specific
.Rproj.user
.Rhistory
.RData

*test.R

# psychopy-specific
*_lastrun.py

*.pdf
*.doc
*.docx
*.html

*.tiff

audiofiles/*
*.wav

# Use participant ID 999 for testing -- these will not be recorded
exp-scripts_psychopy/data/99[0-9]*
exp-scripts_psychopy/test-debug/data/99[0-9]*
