# R-specific
.Rproj.user
.Rhistory
.RData
*.rda

*test.R

# psychopy-specific
*_lastrun.py

*.pdf
# exceptions:
!pilot_analysis/protocol_pilot.pdf
!pilot_analysis/LBQ_pilot.pdf

*.doc
*.docx
*.html

*.tiff

analysis/audiorecordings/*
*.wav
*.mp3

*.xlsx
*lbq_pilot-ppts.csv

# Use participant ID's in range 990-999 for testing -- these will not be tracked by git
exp-scripts_psychopy/data/99[0-9]*
exp-scripts_psychopy/pilot/data/99[0-9]*
exp-scripts_psychopy/norming_1809/data/99[0-9]*
exp-scripts_psychopy/test-debug/data/99[0-9]*

# an email draft I might want to send later on
*ANOVAs.msg
